.userContainer {
	max-width: 350px;
    margin: 10px auto;
    background-color: #b3e5d1;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
.line {
	display: flex;
	
}

.lable {
	color: #286f6d;
	font-weight: bold;
	width: 150px;    
	padding: 10px;
}
.data {
	width: 150px;    
	padding: 10px;
}

